<form (ngSubmit)="onSubmit(iForm)" #iForm="ngForm">
    <div class="form-group">
        <div class="row">
            <div class="col-xs-1">          
                <label>Mail</label>
            </div>
            <div class="col-xs-11">          
                <input type="text" name="email" ngModel>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-xs-1">          
                <label>Password</label>
            </div>
            <div class="col-xs-11">          
                <input type="text" name="password" ngModel>
            </div>
        </div>
    </div>
    <div class="form-group">
        <button type="submit"> SignUp </button>
    </div>
</form>