<div class="row">
    <div class="col-xs-12" >
      <!-- <li
      routerLinkActive="active"
      [routerLinkActiveOptions]={excat:true}
     > -->
       <a [routerLink]="['/recipes/',recipeProp.id]" 
          routerLinkActive="active"
          [routerLinkActiveOptions]={excat:true}
          style="cursor: pointer;" class="list-group-item clearfix">
          <div class="pull-left">
            <h4 class="list-group-item-heading">{{ recipeProp.name }}</h4>
            <p class="list-group-item-text">{{ recipeProp.description }}</p>
          </div>
          <span class="pull-right">
            <img [src]="recipeProp.imagePath" alt="{{ recipeProp.name }}" class="img-responsive" style="max-height: 50px;">
          </span>
        </a>
      <!-- </li> -->
    </div>
</div>